.swiping-component {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffefc5;
}

.carousel {
  display: flex;
  position: relative;
  width: fit-content;
  transition: all 1s;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  aspect-ratio: 1/1;
  transition: all 1s;
  
}

.content {
  width: 50%;
  background-color: white;
  padding: 4rem 0;
  transition: all 1s;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

.content > div {
  width: 80%;
}



.onfocus .content {
  scale: 1.5;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
}

.review-image {
  width: 30%;
  position: absolute;
  border-radius: 50%;
  outline: 5px solid white;
  background-color: white;
  top: -15%;
  left: 30%;
}

@media (max-width: 500px) {
  .carousel-item {
    margin: 0;
  }
  .content {
    width: 75%;
    padding: 2rem 0 1rem 0rem;
  }

  

  .onfocus .content {
    scale: 1.7;
  }

  .review-image {
    width: 30%;
    left: 35%;
    top: -30px;
    padding: 0;
    transition: all 1s;
  }

  .transform-right {
    transform: translateX(25%);
  }

  .transform-left {
    transform: translateX(-25%);
  }
}
